* {
    margin: 0px;
    padding: 0px;
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;
    color: #fff;
    font-family: "Microsoft YaHei";
}

a.demo:before,
a.demo:after {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0;
    width: 0;
}

a.demo:before {
    left: 0;
}

a.demo:after {
    right: 0;
}

a.demo:hover:before,
a.demo:hover:after {
    width: 50%;
}

a.demo:before,
a.demo:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.h-1-3 {
    padding-left: 500px;
    padding-top: 65px;
    display: flex;
}

.h-1-3 span {
    font-size: 20px;
}

span {
    font-family: "Microsoft YaHei";
}

#h-1 {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 12;
}

#h-1-1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100px;
}

.h-1-2 {
    padding-top: 10px;
    height: 80px;
    width: auto;
}

.h-1-3 {
    padding-left: 300px;
    padding-top: 45px;
    display: flex;
}

.h-1-3 span {
    font-size: 20px;
}

.h-2 {
    padding-top: 152px;
    width: 1250px;
    height: auto;
    margin: 0 auto;
}

.h-2 img {
    width: 100%;
    height: 300px;
}

.h-3 {
    padding-top: 10px;
}

.h-3-1 {
    margin: 0 auto;
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
}

.h-3-1 img {
    height: 50px;
    width: 1250px;
}

.h-3-2 {
    /* padding-top: 5px; */
    margin: 0 auto;
    width: 1250px;
    display: flex;
    justify-content: center;
}

.f-1 {
    position: relative;
    z-index: 122;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.f-1-1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 400px;
}

.f-1-2 {
    height: 150px;
    position: absolute;
    z-index: 0;
    padding-top: 100px;
}

.f-1-3 {
    position: absolute;
    z-index: 0;
    color: #fff;
    padding-top: 365px;
    font-family: "Microsoft YaHei";
    font-size: 0.9em;
}

.f-2 {
    background-color: #000;
    width: 100%;
    height: 225px;
    display: flex;
}

.fleft {
    width: 50%;
    padding-left: 100px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.fright {
    width: 50%;
    padding-top: 30px;
}

.f-2-1 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;

}

.f-2-2 {
    color: #fff;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 1em;
    letter-spacing: 1em;
    font-weight: 100;
}

.icon {
    padding-top: 20px;
}

.icon img {
    padding-top: 20px;
    padding-left: 30px;
}

.icon {
    padding-top: 20px;
}

.icon img {
    padding-top: 20px;
    padding-left: 30px;
}

.beianhao {
    padding-top: 35px;
    padding-left: 65px;
}

.beianhao span {
    color: #fff;
}

.topimg {
    z-index: -1;
    width: 100%;
}

.topimg img {
    height: auto;
    width: 100%;
}

.content {
    height: 3430px;
}

.backcolor {
    width: 100%;
    height: 2500px;
    top: 150px;
    z-index: 0;
    position: absolute;
    background-color: #fff;
    opacity: 0.85;
    margin: -10px 0 0 5%;
    border-radius: 15px;
}

.main {
    width: 95%;
    height: 1000px;
    top: 105px;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    padding-left: 1%;
}

.title h1 {
    padding-top: 50px;
    padding-left: 20px;
}

.date p {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Arial Narrow', sans-serif;
    color: rgb(102, 102, 102);
}

.word {
    width: 45%;
    padding-left: 3%;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.word span {
    font-size: 18px;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #000;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: lighter;
}

.spanmargin {
    padding-top: 40px;
}

.padding {
    padding-top: 100px;
}

.pic {
    position: absolute;
    left: 50%;
    z-index: 2;
    width: 50%;
}

.imgbox {
    position: absolute;
    width: 50%;
    left: 50%;
    z-index: 2;
    display: flex;
}

.imgbox img {
    width: 232px;
    height: 348px;
    border-radius: 0.5em;
}

.gifbox {
    position: absolute;
    width: 680px;
    height: 500px;
    left: 50%;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.gifbox img {
    width: 232px;
    height: 180px;
    border-radius: 0.5em;
}

.hr3 {
    height: 3px;
    border: none;
    border-top: 1px solid #8c8c8c;
    width: 1375px;
    z-index: 1;
    margin: 0 auto;
}

.c-f {
    padding-top: 25px;
}
